<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="/static/img/logo2.png"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'css.html' %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua" rel="stylesheet">
	
</head>

<body style="padding-bottom: 45px;">
<div class="page">
  <header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<button type="button" class="navbar-toggle"
					data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{%url 'home' %}">Learn</a>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="{%url 'home' %}">Home</a></li>
						<li><a href="{%url 'courses:courses' %}">Courses</a></li>
						{% if user.is_authenticated %}
						<div class="dropdown">
 						 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Logged in as {{ request.user }}
    						<span class="caret"></span>
  						</button>
  						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   							<li><a class="glyphicon glyphicon-off" href="{% url 'logout' %}"> Logout</a></li>
  							</ul>
						</div>
						{% endif %}
					</ul>	
				</div>
			</div>
		</nav>
  </header>

  <main class="content">
  <div class="breadcrumbs">
  {% load sitetree %}
  {% sitetree_breadcrumbs from "maintree" %}
  </div>
      {% block content %}{% endblock %}
  </main>

  <footer>
	<div id="footer" class="footer navbar-fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<h4>Contact Us</h4>
					<p><i class="fa fa-home" aria-hidden="true"></i> 46 Sarajevska Ulica, Split, 21000</p>
					<p><i class="fa fa-envelope" aria-hidden="true"></i> info@extensionengine.com</p>
					<p><i class="fa fa-globe" aria-hidden="true"></i> www.extensionengine.com</p>
				</div>
				<div class="col-lg-4 col-md-4 ">
					<p><i class="fa" aria-hidden="true"></i> <img class="img-responsive center-block" src="/static/img/logo2.png"></p>
				</div>
				<div class="col-lg-4 col-md-4 padding">
					<h4>Stay in touch</h4>
					<i class="social fa fa-facebook" aria-hidden="false"></i>
					<i class="social fa fa-twitter" aria-hidden="true"></i>
					<i class="social fa fa-instagram"  aria-hidden="true" ></i>
					<i class="social fa fa-youtube" aria-hidden="true"></i>
					<i class="social fa fa-pinterest" aria-hidden="true"></i>
					<i class="social fa fa-github" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
  </footer>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
