{% extends 'courses/main.html' %}

{% block title %}Exam - Learn.com{% endblock %}

{% block content %}
    {% include 'course_css.html' %}
    <div class="cont_course">
    
    {% if user.id == course_owner %}
    <a class="btn btn-success btn-lg pull-right" href="{% url 'courses:new_question' course_id %}">Add new question</a>
    {% endif %}
    <h1> Exam </h1>
    {% if questions_list %}
        <ul>
        <a class="btn btn-default btn-lg pull-right" href="{% url 'courses:start_exam' course_id %}"><span class="glyphicon glyphicon-check"></span> Start Exam</a>
        {% for question in questions_list %}
         <li>
         <br><h3 style="display: inline;">{{ question.question }}</h3>
         {% if user.id == course_owner %}
            <a href="{% url 'courses:update_question' course_id question.id %}"><button type="button" class="btn btn-default btn-xs">Edit</button></a>
            <a href="{% url 'courses:delete_question' course_id question.id %}"><button type="button" class="btn btn-default btn-xs">Delete</button></span></a>
         {% endif %}
         <p>{{ question.first_answer }}</p>
         <p>{{ question.second_answer }}</p>
         <p>{{ question.third_answer }}</p>
         <p>{{ question.fourth_answer }}</p>
         </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No questions available.</p>
    {% endif %}
    </div>
{% endblock %}
