{% extends 'registration/base.html' %}

{% block title %}Lessons - Learn.com{% endblock %}

{% block content %}
    <h1>Lessons</h1>
    <a style="float:right;" href="{% url 'courses:create_lesson' course_id%}">Add a lesson</a>
    {% if latest_lessons_list %}
        <ul>
        {% for lesson in latest_lessons_list %}
         <li>
         <a href="{% url 'courses:lesson' course_id lesson.id %}">{{ lesson.lesson_name }}</a>
         <a href="{% url 'courses:update_lesson' course_id lesson.id %}">edit</a>
         <a href="{% url 'courses:delete_lesson' course_id lesson.id %}">delete</a>
         </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No lessons available.</p>
    {% endif %}
{% endblock %}
